@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,500i,600,700");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,600i,700,800");
body {
  margin: 0;
  font-family: "Montserrat", sans-serif; }

.container {
  max-width: 1300px;
  margin: 0 auto; }

.awax-btn {
  text-align: center;
  background-color: #b88b58;
  padding: 0.6rem 2.5rem;
  border-radius: 30px;
  color: #ffffff;
  outline: none;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
  border: none;
  cursor: pointer; }
  .awax-btn:hover {
    background-color: #89643a; }

.btn-container {
  margin: 20px auto;
  text-align: center; }

.bullets {
  text-align: center; }
  .bullets ul {
    margin: 0;
    padding: 0;
    -ms-flex-item-align: end;
    align-self: flex-end; }
    .bullets ul li {
      display: inline-block;
      padding: 0;
      margin: 0;
      text-align: center;
      border-radius: 50%;
      padding: 5px 5px;
      cursor: pointer;
      border: 1px solid #b88b58; }
      .bullets ul li:hover {
        background-color: #b88b58; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }
