@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,500i,600,700");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,600i,700,800");
/*		---	GRID	---		*/
/*		columns size	*/
.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

/*		margin	left	*/
.col-offset-1 {
  margin-left: 8.33%; }

.col-offset-2 {
  margin-left: 16.66%; }

.col-offset-3 {
  margin-left: 25%; }

.col-offset-4 {
  margin-left: 33.33%; }

.col-offset-5 {
  margin-left: 41.66%; }

.col-offset-6 {
  margin-left: 50%; }

.col-offset-7 {
  margin-left: 58.33%; }

.col-offset-8 {
  margin-left: 66.66%; }

.col-offset-9 {
  margin-left: 75%; }

.col-offset-10 {
  margin-left: 83.33%; }

.col-offset-11 {
  margin-left: 91.66%; }

/*		margin	right	*/
.col-offset-right-1 {
  margin-right: 8.33%; }

.col-offset-right-2 {
  margin-right: 16.66%; }

.col-offset-right-3 {
  margin-right: 25%; }

.col-offset-right-4 {
  margin-right: 33.33%; }

.col-offset-right-5 {
  margin-right: 41.66%; }

.col-offset-right-6 {
  margin-right: 50%; }

.col-offset-right-7 {
  margin-right: 58.33%; }

.col-offset-right-8 {
  margin-right: 66.66%; }

.col-offset-right-9 {
  margin-right: 75%; }

.col-offset-right-10 {
  margin-right: 83.33%; }

.col-offset-right-11 {
  margin-right: 91.66%; }

.row::before, .row::after {
  content: "";
  display: table;
  clear: both; }

[class*="col-"] {
  float: left;
  min-height: 1px;
  padding: 10px; }

@media (max-width: 767px) {
  /*		For tablets		*/
  .col-s-1 {
    width: 8.33%; }
  .col-s-2 {
    width: 16.66%; }
  .col-s-3 {
    width: 25%; }
  .col-s-4 {
    width: 33.33%; }
  .col-s-5 {
    width: 41.66%; }
  .col-s-6 {
    width: 50%; }
  .col-s-7 {
    width: 58.33%; }
  .col-s-8 {
    width: 66.66%; }
  .col-s-9 {
    width: 75%; }
  .col-s-10 {
    width: 83.33%; }
  .col-s-11 {
    width: 91.66%; }
  .col-s-12 {
    width: 100%; }
  .cleear-s::before, .cleear-s::after {
    content: "";
    display: table;
    clear: both; } }

@media (min-width: 768px) and (max-width: 991px) {
  .col-m-1 {
    width: 8.33%; }
  .col-m-2 {
    width: 16.66%; }
  .col-m-3 {
    width: 25%; }
  .col-m-4 {
    width: 33.33%; }
  .col-m-5 {
    width: 41.66%; }
  .col-m-6 {
    width: 50%; }
  .col-m-7 {
    width: 58.33%; }
  .col-m-8 {
    width: 66.66%; }
  .col-m-9 {
    width: 75%; }
  .col-m-10 {
    width: 83.33%; }
  .col-m-11 {
    width: 91.66%; }
  .col-m-12 {
    width: 100%; }
  .cleear-s::before, .cleear-s::after {
    content: "";
    display: table;
    clear: both; } }

/*      - urzadzenia srednie,       */
@media (min-width: 992px) and (max-width: 1199px) {
  .col-l-1 {
    width: 8.33%; }
  .col-l-2 {
    width: 16.66%; }
  .col-l-3 {
    width: 25%; }
  .col-l-4 {
    width: 33.33%; }
  .col-l-5 {
    width: 41.66%; }
  .col-l-6 {
    width: 50%; }
  .col-l-7 {
    width: 58.33%; }
  .col-l-8 {
    width: 66.66%; }
  .col-l-9 {
    width: 75%; }
  .col-l-10 {
    width: 83.33%; }
  .col-l-11 {
    width: 91.66%; }
  .col-l-12 {
    width: 100%; }
  .cleear-s::before, .cleear-s::after {
    content: "";
    display: table;
    clear: both; } }

/* settings for containers, fonts paddings etc*/
/* sets background and border color */
/*  large numbers   */
/* sets width of the content*/
/* for media querys */
@media screen and (max-width: 767px) {
  header .container {
    display: block; }
    header .container nav {
      display: none; }
      header .container nav ul {
        display: block; }
        header .container nav ul li {
          display: block;
          padding: 10px;
          text-align: center; }
        header .container nav ul a {
          padding: 0; }
          header .container nav ul a:hover {
            border-bottom: 0px; }
    header .container .menu-icon {
      display: block; }
  .hero .container h1, .hero .container h2, .hero .container h3 {
    font-size: 28px; }
  .hero .container h3 {
    font-size: 16px; }
  .services .container .content {
    width: 100%;
    margin: 0 auto; }
  .services .container [class*="col-"] {
    border-top: 1px solid #aeaeae;
    border-bottom: none;
    border-left: none;
    padding-top: 10px;
    height: 250px; }
  .services .container [class*="col-"]:first-child {
    border-left: none; }
  .services .container [class*="col-"]:nth-child(3) {
    border-left: none;
    border-top: 1px solid #aeaeae; }
  .services .container [class*="col-"]:last-child {
    border-right: none;
    border-top: 1px solid #aeaeae; }
  .about-us .icon-container {
    display: none; }
  .about-us p {
    text-align: justify; }
  .about-us h3 + p {
    margin-bottom: 0; }
  .our-projects #menuProjects {
    display: none; }
  .our-projects #projectsMenuIcon {
    display: block; }
  .our-projects .container .content {
    width: 100%; }
    .our-projects .container .content #projectsMenuIcon {
      width: 100%;
      height: 40px;
      background-color: #ededed;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      cursor: pointer; }
    .our-projects .container .content p {
      margin: 0; }
    .our-projects .container .content .project-menu ul {
      border-radius: 0;
      padding: 0 5px;
      background-color: #ededed; }
      .our-projects .container .content .project-menu ul li {
        display: block; }
        .our-projects .container .content .project-menu ul li a {
          border-right: none; }
    .our-projects .container .content .projects-gallery {
      margin-top: 0; }
      .our-projects .container .content .projects-gallery img {
        height: 200px; }
      .our-projects .container .content .projects-gallery [class*="col-"] {
        padding: 10px 0; }
    .our-projects .container .content [class*="col-"] .overlay {
      height: 70px;
      top: 130px; }
      .our-projects .container .content [class*="col-"] .overlay p {
        display: block;
        margin: 0;
        padding: 0; }
  .our-team .container {
    background-image: url("../images/our-team-bg-small.jpg");
    background-size: auto; }
  .clients .container .client-profile .plain-text {
    width: 90%; }
  .logotyps .col-s-6 {
    text-align: center; }
  .facts .container .content h2 {
    margin: 5px; }
  .social .container .content {
    width: 90%; }
    .social .container .content .logo-socialmedia {
      margin: 10px 5px; }
    .social .container .content .logo-socialmedia:first-child {
      width: 100%; }
  .contact-us .content {
    width: 90%; }
  .contact-us .input-container {
    width: 100%; }
  .contact-details .container {
    background-image: none; }
    .contact-details .container .content {
      padding: 0;
      width: 100%; }
      .contact-details .container .content [class*="col-"]:nth-child(2) {
        display: block;
        padding: 0; }
        .contact-details .container .content [class*="col-"]:nth-child(2) img {
          width: 100%; }
  .footer .container .content {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    padding: 0; }
    .footer .container .content .awax {
      text-align: center;
      margin-top: 20px; } }

/*end of media*/
@media screen and (min-width: 768px) and (max-width: 991px) {
  .services .container .content {
    width: 100%;
    margin: 0 auto; }
  .services .container [class*="col-"]:nth-child(1),
  .services .container [class*="col-"]:nth-child(2) {
    border-bottom: 1px solid #aeaeae; }
  .services .container [class*="col-"] {
    padding-top: 10px;
    height: 250px; } }
