@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,500i,600,700');

$main-color: #000000;
$second-color: #ffffff;
$thirt-color: #f7f7f7;
$brand-color: #b88b58;
$main-font: 'Montserrat', sans-serif;
$subheading-color: #aeaeae;
$fourth-color: #ededed;
$fifth-color: #cfcfcf;
$sixth-color: #aeaeae;