@import 'variables';
@import '_grid';
@import 'mixins';

@media  screen and (max-width: 767px ) {
    header {
    .container{
        display: block;
        .menu-icon {
            float: right;
            display: block;
        }
        nav {
            display: none;
            ul {
                display: block;
                
                li {
                    display: block;
                    padding: 10px;
                    text-align: center;
                }
                a {
                    padding:0;
                    &:hover{
                        border-bottom: 0px;
                    }
                }
            }
        }
        .menu-icon {
            margin-top: 10px;
            font-size: 24px;
            display: block;
            font-size: 24px;
            color: white;
           // border: 1px solid white;
            background-color: $brand-color;
            button {
                background-color: $main-color;
                color: $second-color;
            }
        }
    }
  }


    .hero {
        .container{
            h1, h2, h3 {
                font-size: 28px;
            }
            h3 {
                font-size: 16px;
            }
            .bullets{
                ul {
                    margin-bottom: 50px;
                    li {

                        &:hover{
                        }
                    }
                }
            }

        }
    }

    .services {
        .container{
            @include content(100%);
            [class*="col-"] {
                border-top: 1px solid $subheading-color;
            }
            [class*="col-"]{                
                padding-top: 10px;
                height: 250px;
            }
        }
    }
    .about-us {
        .icon-container{
            display: none;
        }
    }
    .our-team{
        .container {
            background-image: url('../images/our-team-bg-small.jpg');
            background-size: auto;
        }
    }
    .social {
        .container {
            .content{
                width: 90%;
                .logo-socialmedia {
                    margin: 10px 5px;
                }
                .logo-socialmedia:first-child{
                    width: 100%;
                }
            }
        }
    }
    .contact-us {
        .content {
            width: 90%;
        }
        .input-container {
            width: 100%;
        }
    }
    .contact-details {
        .content {
            width: 100%;
            [class*="col-"]:nth-child(2){
                display: block;
            }
        }
    }


} /*end of media*/

@media screen and (min-width: 768px) and (max-width: 991px)  {
    .services {
        .container{
            @include content(100%);
            [class*="col-"]:nth-child(1), 
            [class*="col-"]:nth-child(2) {
                border-bottom: 1px solid $subheading-color;
            }
            [class*="col-"]{                
                padding-top: 10px;
                height: 250px;
            }
        }
    }

}

@media screen and (min-width: 992px) and (max-width: 1199px) {

}

