/* settings for containers, fonts paddings etc*/
@mixin basicSectionSettings($headerColor, $subHeaderColor, $backgroundColor) {
    .container{
        padding: 30px 0 40px 0;
        background-color: $backgroundColor;
        .row{
            margin: 0;
        }
    }
    h3 {
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        color: $headerColor
    }
    h3+p {
        @extend h3;
        font-size: 12px;
        font-weight: 600;
        margin-bottom: 30px;
        font-family: $main-font;
        color: $subHeaderColor;
    }
    h4 {
        @extend h3;
        font-size: 16px;
    }
    h4+p{
        text-align: center;
        font-weight: normal;
        color: $subheading-color;
        font-size: 12px;
        
    }
}

/* sets background and border color */
@mixin containerColors($color) {
    border-top: 1px solid $container-borders;
    border-bottom: 1px solid $container-borders;
    background-color: $color;
}

/*  large numbers   */
@mixin largeNumbers($color, $fontWeight) {
    font-family: $numbers-font;
    font-weight: $fontWeight;
    color: $color;
    text-align: center;
}

/* sets width of the content*/
@mixin content($width) {
    .content {
        width: $width;
        margin: 0 auto;
    }
}

@mixin roundIcons {
    background-color: #bebebe;
    border-radius: 50%;
    color: $second-color;
    font-size: 16px;
    padding: 5px;
    width: 27px;
    height: 27px;
    cursor: pointer;
}

@mixin inputField($color) {
    background-color: $color;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid $plain-text-color;
    width: 100%;
    padding: 10px 0;
    margin-bottom: 10px;
}