@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,500i,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,600i,700,800');
$main-color: #000000;
$second-color: #ffffff;
$thirt-color: #f7f7f7;
$brand-color: #b88b58;
$main-font: 'Montserrat', sans-serif;
$subheading-color: #aeaeae;
$fourth-color: #ededed;
$fifth-color: #cfcfcf;
$sixth-color: #aeaeae;
$basic-font-size: 12px;
$plain-text-color: #7e7e7e;
$numbers-font: 'Poppins', sans-serif;